# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot
HELP.md

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
